@page
@model ForumMotor_13BC_A.Pages.TopikListaModel

@{
    ViewData["Title"] = "TopikLista";
}

<h1>TopikLista</h1>

<p>
    <a href="/CreateTopic?CategoryId=@Model.CategoryId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Topic[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic[0].CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Topic) {
        <tr>
            <td>
                <a asp-page = "PostList?TopicId=@item.Id"> @Html.DisplayFor(modelItem => item.Name))</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
